@import "tailwindcss";

:root {
  color-scheme: light dark;
}

body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
}

.btn {
  @apply px-3 py-2 rounded-md bg-[#8BA888] text-white hover:bg-[#7A9777];
}
.btn-outline {
  @apply px-3 py-2 rounded-md border border-gray-300 hover:bg-gray-50 dark:hover:bg-gray-900;
}
.card {
  @apply border rounded-lg p-4;
}
